htmL {
    background: url("imagens/aaron-swartz.jpg");
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: Tahoma;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    font-weight: 400;
}

h1 {
    font-size: 48px;
    margin-bottom: -0.5em;
}

.section-title {
    text-align: center;
    font-weight: 700;
}

a {
    color: #BA487F;
}

/*****************************
 * Header                    *
 *****************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 40px;
    background-color: #748DAE;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-item {
    color: #000000;
    border-width: 4px;
    border-style: ridge;
    border-color: #DED3C4;
    padding: 1em;
}

.menu-item:hover {
    color: rebeccapurple;
}

.subtitle {
    font-size: 22px;
    font-variant: small-caps;
}

/*****************************
 * Main                      *
 *****************************/
main {
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 12px;
    border-style: ridge;
    border-color: #DED3C4;
    color: #ffffff;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
}

table {
    /*border: 2px solid white;*/
    width: 100%;
}

thead {
    font-weight: 700;
    text-transform: uppercase;
}

td {
    color: #000000;
    background-color: wheat;
    border: 2px solid white;
    padding: 8px;
}


/*****************************
 * Footer                    *
 *****************************/
footer {
    padding-top: 40px;
    background-color: #574964;
    color: white;
    text-align: center;
    height: 100px;
}